<html>
	<title>
	</title>
	<body>
		allot
		<form action="/allot/" method="post">
			<input name='name' type='text' />
			<input type='submit' />
		</form>
		host
		<form action="/host/" method="post">
			
			<input type='submit' />
		</form>
		enter
		<form action="/enter/" method="post">
			<input type='text' name='host'  />
			<input type='submit' />
		</form>
		room
		<form action="/room/" method="post">
			<input type='text' name='host'  />
			<input type='submit' />
		</form>
		leave
		<form action="/leave/" method="post">
			<input type='text' name='host'  />
			<input type='submit' />
		</form>
		change
		<form action="/change/" method="post">
			<input type='text' name='host'  />
			<input type='text' name='capacity'  />
			<input type='text' name='length'  />
			<input type='text' name='energy'  />
			<input type='submit' />
		</form>
		start
		<form action="/start/" method="get">
			<input type='submit' />
		</form>
		action
		<form action="/action/" method="post">
			<input type='text' name='move'  />
			<input type='submit' />
		</form>
		query
		<form action="/query/" method="post">
			<input type='text' name='mid'  />
			<input type='submit' />
		</form>
	</body>
</html>